:root{
  --bg-color:#bacae2;
  --text-color:#2e2e2e;
  --button-color:#fb460afb;
  --accent-color:#00cec9;
  --hover-color:#dfe6e9;
}
*{
  margin:0;
  padding:0;
}
*,*:before,*:after{
  box-sizing:inherit;
}
html{
  box-sizing:border-box;
  font-size:90%;
  scroll-behavior:smooth;
}
@media(max-width:70em){
  nav{
    font-size:100%;
  }
}
@media(max-width:28.75em){
  html{
    font-size:70%;
    display:flex;
    justify-content: space-between;
  }
}
body{
  font-family:'Poppins',sans-serif;
  font-size:1.8rem;
  font-weight:400;
  line-height:3.4rem;
  background-color:var(--bg-color);
}
#welcome-section{
  font-family:'Raleway',sans-serif;
  font: weight 10px;
  font-size:30px ;
  text-align:center;
  display:flex ;
  justify-content:space-between;
}
a{
  text-decoration:none;
}
img{
  display:block;
  width:100%;
}
nav{
  display:flex;
  justify-content:flex-end;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:var(--accent-color);
  box-shadow:0 2px 0 rgba(0,0,0,0.4);
  z-index:10;
}
.nav-link{
  display:flex;
  margin-right:2rem;
}
@media (max-width: 28.75em) {
  #navbar {
    justify-content: center;
  }
  .nav-link {
    margin: 0 1rem;
  }
}
.nav-link > a{
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}
.nav-link:hover {
  background: var(--hover-color);
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color:var(--accent-color);
  background-image: linear-gradient(180deg, #eaf0f7 0%, #1572c9 100%);
}.contact-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content:space-between;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap:wrap;
}
p{
  text-align:center;
  font-size:2rem;
  color:var(--button-color);
}
.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
button {
 display: inline-block;
  font-size: 2.4rem;
  padding: 1.2rem 3rem;
  background: var(--button-color);
  color:var(--accent-color);
  border: none;
  border-radius: 0.8rem;
  text-align: center;
  cursor: pointer;
  transition: background 1s;
}
button:hover{
  background: var(--hover-color);
}

